[build-system]
requires = [
    "setuptools >= 42",
    "wheel",
    "setuptools_scm[toml]>=3.4"
]
build-backend = 'setuptools.build_meta'

[tool.setuptools_scm]

[tool.black]
# py39 is not supported yet
target-version = ["py37", "py38"]

[tool.coverage.paths]
# For combining source file paths correctly
source = [
   "src"
]